* {
    -fx-base-color : #1F1F1F;
    -fx-second-color : #3AEA00;
    -fx-detail-color : #EAE8DC;
}

.root {
    -fx-background-color: -fx-base-color;
    -fx-base: -fx-base-color;
    -fx-text-fill: -fx-second-color;
}

.jfx-button {
    -fx-base: -fx-base-color;
    -fx-background-color: derive(-fx-base-color, 15%);
    -fx-font-size: 25px;
    -fx-text-fill: -fx-second-color;
    -fx-background-radius: 15px;
}

.jfx-button:hover {
    -fx-background-color: -fx-second-color;
    -fx-text-fill: -fx-base-color;
}

.menu-bar {
    -fx-background-color: derive(-fx-base-color, -20%); /*to make flat color*/
}

.tab-header-background {
    -fx-background-color: derive(-fx-base-color, -12%);
}

.context-menu {
    -fx-background-color: derive(-fx-base-color, 20%);
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: lightgrey;
}

#helloLabel {
    -fx-text-fill: -fx-detail-color;
    -fx-background-color: -fx-base-color;
    -fx-font-size: 40px;
    -fx-alignment: center;
}